.image-grid {
  width: 75%;
}

.image-grid .image {
  padding: 5px;
  max-height: 250px;
  vertical-align: bottom;
}

@media (max-width: 768px) {
  .image-grid {
    width: 90%;
    margin: 0 auto;
  }
  .image-grid .image {
    margin: 0;
    padding: 0 0 10px;
    max-width: 100%;
  }
}
