.image-grid img {
  padding: 5px;
  max-height: 250px;
  min-width: 200px!important;
  vertical-align: bottom;
}

@media (max-width: 768px) {
  .image-grid {
    width: 90%;
    margin: 0 auto;
  }
  .image-grid img {
    margin: 0;
    padding: 0 0 10px;
    max-width: 100%;
  }
}
